@model List<HolbergsPizza.Models.Ordre>

@{
    ViewBag.Title = "Bestillinger";
}

<h2>Bestillinger</h2>

<table class="table">
    <thead>
        <tr>
            <th>Pizza: </th>
            <th>Tykkelse: </th>
            <th>Antall: </th>
            <th>Navn: </th>
            <th>Adresse: </th>
            <th>Tlf: </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var ordre in Model)
    {
        <tr>
            <td>@ordre.Type</td>
            <td>@ordre.Tykkelse</td>
            <td>@ordre.Antall</td>
            <td>@ordre.Kunde.Navn</td>
            <td>@ordre.Kunde.Adresse</td>
            <td>@ordre.Kunde.Tlf</td>
            <td><a href="/Home/SlettBestilling?id=@ordre.Id" class="btn btn-danger">Slett</a></td>
        </tr>
    }
</table>